.displaycard{
    padding: 10px;
    border: 1px;
    margin: 2px;
    border-width: 2px;
    border-color:black ;
}

.jobTitleCard {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}